 
input{
    width: 560px;
}
.search{
    padding: 10px;
    background-color: lightsalmon;
}
.cart{
    margin-left: 30px;
    color: white;
}
.slider{
    margin-left: 30px;
    margin-right: 30px;
}
.main{
    display: flex;
    text-align: center;
}
.price{
    color: orangered;
    font-weight: bold;
}
.header{
    width: 90px;
    height: 100%;
    background-color: orangered;
}
.img{
    display: flex;
    align-items: center;
    flex-direction: column ;
    justify-content:space-around;
}
li{
    text-align: center;
    display: 700px;
}